<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")

    <link rel="stylesheet" href="~/Scripts/Angular-Datepicker/angular-datepicker.min.css" />
    <link rel="stylesheet" href="~/Scripts/angular_xedit/css/xeditable.min.css" />

    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/Angular-Datepicker/angular-datepicker.min.js"></script>
    <script src="~/Scripts/Smart-Table-master/dist/smart-table.min.js"></script>
    <script src="~/Scripts/angular_xedit/js/xeditable.min.js"></script>
    <script src="~/Scripts/app.js"></script>

</head>
<body ng-app="collegeApp">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        @Html.ActionLink("College Management", "Index", "Students", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Students", "Index", "Students", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Subjects", "Index", "Subjects", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Teachers", "Index", "Teachers", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Courses", "Index", "Courses", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Enrollments", "Index", "Enrollments", new { area = "" }, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
